@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

@layer components {
  .padding-x {
    @apply sm:px-16 px-6;
  }
  .padding-y {
    @apply py-4;
  }
  .max-width {
    @apply max-w-[1440px] mx-auto;
  }
  .navbar {
    @apply bg-white border-gray-200;
  }
  .navbar__container {
    @apply flex flex-wrap items-center justify-between max-w-[1440px] mx-auto sm:px-16 px-4 sm:py-6 py-10;
  }
  .landing {
    @apply flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440px] mx-auto;
  }
  .landing__container {
    @apply flex-1 pt-20 sm:px-16 px-6;
  }
  .landing__title {
    @apply 2xl:text-[72px] sm:text-[64px] text-[50px] font-extrabold;
  }

  .landing__subtitle {
    @apply text-[27px] text-black-100 font-light mt-5;
  }

  .landing__image-container {
    @apply xl:flex-[1.5] flex justify-end items-end w-full xl:h-screen;
  }

  .landing__image {
    @apply relative xl:w-full w-[90%] xl:h-full h-[590px] z-0;
  }

  .landing__image-overlay {
    @apply absolute xl:-top-24 xl:-right-1/2 -right-1/4 bg-landing-bg bg-repeat-round -z-10 w-full xl:h-screen h-[590px] overflow-hidden;
  }
  .button {
    @apply bg-primary-blue text-white rounded-full mt-10 flex flex-row relative justify-center items-center py-3 px-6 outline-none;
  }
  .footer {
    @apply flex flex-col text-black-100  mt-5 border-t border-gray-100;
  }

  .footer__links-container {
    @apply flex max-md:flex-col flex-wrap justify-between gap-5 sm:px-16 px-6 py-10;
  }

  .footer__rights {
    @apply flex flex-col justify-start items-start gap-6;
  }

  .footer__links {
    @apply flex-1 w-full flex md:justify-end flex-wrap max-md:mt-10 gap-20;
  }

  .footer__link {
    @apply flex flex-col gap-6 text-base min-w-[170px];
  }

  .footer__copyrights {
    @apply flex justify-between items-center flex-wrap mt-10 border-t border-gray-100 sm:px-16 px-6 py-10;
  }

  .footer__copyrights-link {
    @apply flex-1 flex sm:justify-end justify-center max-sm:mt-4 gap-10;
  }
  .home__discover {
    @apply mt-12 padding-x padding-y max-width;
  }
  .home__discover-container {
    @apply flex flex-col items-start justify-start gap-y-2.5 text-black-100;
  }
  .home__discover-title {
    @apply text-4xl font-extrabold;
  }
  .home__filters-container {
    @apply absolute flex flex-row gap-5 my-5;
  }
  .home__filters {
    @apply flex flex-row gap-5;
  }
  .filter {
    @apply w-fit;
  }
  .filter__container {
    @apply relative w-fit
  }
  .filter__button {
    @apply relative w-full min-w-[127px] flex justify-between items-center cursor-default rounded-lg bg-white py-2 px-3 text-left shadow-md sm:text-sm border;
  }
  .filter__options {
    @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;
  }
  .filter__option {
    @apply text-gray-900 relative cursor-default select-none py-2 px-4
  }
  .filter__option-active {
    @apply bg-primary-blue text-white
  }
  .filter__placeholder {
    @apply text-gray-500;
  }
  .search {
    @apply relative w-fit;
  }
  .search__container {
    @apply relative w-full;
  }
  .search__input-container {
    @apply relative w-full min-w-[127px] flex justify-between items-center cursor-default rounded-lg bg-white py-2 px-3 text-left shadow-md sm:text-sm border;
  }
  .search__input {
    @apply w-full border-none outline-none text-sm leading-5 text-gray-900 focus:ring-0
  }
  .search__button {
    @apply absolute inset-y-0 right-0 flex items-center pr-2
  }
  .search__options {
    @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;
  }
  .search__option {
    @apply relative cursor-default select-none py-2 pl-10 pr-4;
  }
  .car-card {
    @apply flex flex-col p-6 justify-center items-start text-black-100 bg-primary-blue-100 hover:bg-white hover:shadow-md rounded-3xl;
  }
  .car-card__header {}
  .car-card__content {
    @apply mt-10 flex flex-col w-full
  }
  .car-card__title {
    @apply text-[22px] leading-[26px] font-bold capitalize;
  }
  .car-card__features {
    @apply mt-5 flex group-hover:invisible w-full justify-between text-grey
  }
  .car-card_feature {
    @apply flex flex-col justify-center items-center gap-2;
  }
  .car-card__feature-text {
    @apply text-grey text-[12px] leading-[17px]
  }
  .car-card__footer {
    @apply flex flex-row items-baseline justify-between
  }
  .car-card__price {
    @apply text-[20px] font-bold
  }
  .car-card__price-text {}
  .car-card__action {}

}
